@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:wght@400;600;700&family=Mukta:wght@400;700&family=Poppins:wght@400;500;700&family=Titillium+Web:wght@400;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    background: #030303;
    color: #fff;
    font-size: 2rem;
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

header {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header h1 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: .2cm;
    margin: 8rem 0 -2rem 0;
}

header h4 {
    font-family: 'kanit', sans-serif;
    letter-spacing: .1cm;
}

.main-body {
    height: 85vh;
    display: flex;
}

.image {
    width: 30%;
}

.image img {
    margin-top: -19rem;
    height: 56.7rem;
}

.image #rocket {
    margin-top: -10rem;
    margin-left: 102rem;
    height: 28rem;
}

.centre {
    margin-top: 2.3rem;
    padding: 2rem;
}

.content {
    margin-top: 2rem;
    height: 85%;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1 {
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: .1cm;
    margin-left: 2.9rem;
    margin-bottom: -1rem;
}

.content p {
    padding: 1.2rem;
    margin-left: 3.3rem;
}

.buttons {
    height: 6rem;
    margin-left: 4.3rem;
}

button {
    position: relative;
    padding: .8em 1.8em;
    outline: none;
    border: .1rem solid #303030;
    background: #212121;
    color: #ae00ff;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;
    margin-left: 1rem;
}

button:hover {
    transition-delay: 0.5s;
}

button span {
    position: absolute;
}

button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: .2rem;
    background: linear-gradient(90deg, transparent, #ae00ff);
}

button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
}


button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
}

button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
}

button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
}

button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
}

button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
}

button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
}

button:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
}

button:active span:nth-child(1) span:nth-child(2) span:nth-child(2) span:nth-child(2) {
    transition: none;
    transition-delay: none;
}


@media(max-width: 1180px) {
    html {
        font-size: 60%;
    }

    .image img {
        margin-top: -13rem;
    }

    .centre {
        padding: 6rem;
    }
}

@media(max-width: 1025px) {
    html {
        font-size: 50%;
    }
}

@media(max-width: 880px) {
    .main-body {
        display: block;
    }

    .image {
        display: none;
    }

    body {
        overflow: visible;
    }
    .spaceX p{
        font-size: 10px;
    }
    .centre {
        margin-top: -15rem;
        height: 120vh;
    }
}

@media(max-width: 500px){
    html{
        font-size: 40%;
    }
    .centre{
        margin-top: -23rem;
    }
    .spaceX p{
        font-size: 9px;
    }
    .content p {
        padding: 0;
    }
}

@media(max-width: 425px){
    .buttons {
        margin-left: 0rem;
    }
    buttons{
        padding: 0.8em 1.8em;
    }
}